/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85,85,85);
}


/* TRANSITION */

a, .btn{
    transition: all 300ms ease;
}


/* DESKTOP NAV */

nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* Logo */
.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
                0 7px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background: white;
}

.logo img {
    width: 100%;
    height: auto;
}


/* HAMBURGER MENU */

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}


/* SECTIONS */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}


/* PROFILE SECTION */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__pic-container img {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
                0 7px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.section__pic-container img:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
                0 12px 24px rgba(0, 0, 0, 0.2);
}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1{
    text-align: center; 
}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/* ICONS */
.icon {
    cursor: pointer;
    height: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4), /* Main shadow */
                0 2px 2px rgba(0, 0, 0, 0.2); /* Additional depth */
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.icon:hover {
    transform: translateY(-5px) scale(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
                0 12px 24px rgba(0, 0, 0, 0.2);
}



/* BUTTONS */

.btn-container{
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
                0 7px 20px rgba(0, 0, 0, 0.2);
    background: none;
    border: rgb(53, 53, 53) 0.1rem solid;
    cursor: pointer;
}

.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: #fff;
    border: #f0f0f0 0.1rem solid;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
                0 12px 24px rgba(0, 0, 0, 0.2);
}





















/* Projects */



.header {
    text-align: center;
    padding: 20px;
}

.text-1, .text-2 {
    margin: 0;
}

/* Switch */
.switch {
    position: relative;
    width: 200px;
    height: 70px;
    background: #f0f0f0;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.switch input {
    display: none;
}

.option {
    font-size: 16px; /* Default font size */
    font-weight: 900;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: gray;
    transition: color 0.3s ease, font-size 0.3s ease; /* Updated transition */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 35px;
    background: transparent;
}

.option:hover {
    color: #323235;
}

input#work:checked ~ .option.work {
    font-size: 22px; /* Larger font size for selected option */
    background: linear-gradient(90deg, #75757a, #5e5e63, #323235);
    -webkit-background-clip: text;
    color: transparent;
}

input#play:checked ~ .option.play {
    font-size: 22px; /* Larger font size for selected option */
    background: linear-gradient(90deg, #7bfef7, #5f5fff);
    -webkit-background-clip: text;
    color: transparent;
}
.slider {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 90px;
    background: #fff;
    border-radius: 35px;
    transition: all 0.3s ease;
    z-index: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

input#play:checked ~ .slider {
    transform: translateX(101px);
}

/* Center the switch on the screen */
.switch-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}